<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="text-container.component.css" />
  </head>
  <body>
    <div class="container">
      <ng-template [ngIf]="textActive1 === true">
        <h3>Hello</h3>
        <p>
          Angular nu are conceptul de domeniu de vizibilitate (în engleză
          "scope") sau controlere, ci utilizează o ierarhie de componente ca
          principală caracteristică arhitecturală
        </p>
      </ng-template>
      <ng-template [ngIf]="textActive2 === true">
        <h3>Middle</h3>
        <p>
          TypeScript este un supraset al ECMAScript 6 (ES6), fiind compatibil cu
          ECMAScript 5 (i.e.: JavaScript). Angular include și noutățile din ES6
        </p>
      </ng-template>
      <ng-template [ngIf]="textActive3 === true">
        <h3>Finish</h3>
        <p>
          Callback-uri iterative oferite prin RxJS. RxJS limitează vizibilitatea
          și posibilitățile de depanare ale stării s state visibility and
          debugging, dar aceste probleme pot fi rezolvate cu module precum
          ngReact sau ngrx.
        </p>
      </ng-template>
    </div>
  </body>
</html>
